VITE_API_BASE=/api-service
VITE_YOLO_API_BASE=/yolo-service
VITE_ACCOUNT_API_BASE=/account-service
VITE_API_SERVICE_TARGET=http://127.0.0.1:8080
VITE_YOLO_SERVICE_TARGET=http://127.0.0.1:8001
VITE_ACCOUNT_SERVICE_TARGET=http://127.0.0.1:8002
VITE_PUBLIC_BASE=/
